<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Nadim Mouawad</h1>
      <p>I'm a <span class="typed" data-typed-items="University Student, Gamer, Future Game Developer"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/Nadim_M17" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/nadim.mouawad.7" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.linkedin.com/in/nadim-mouawad-77570951/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCpFbYmYKaHr9wCxWkKPiOjw" class="youtube"><i class="bx bxl-youtube"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->